@using GameBase
@using MailGames.Models
@using TicTacToe
@model MailGames.Models.GameTicTacToeViewModel
@{
    Layout = "~/Views/Shared/_Game.cshtml";
}

<table class="tic-tac-toe-table code-grid" data-width="@Model.Colors.GetLength(0)">
    @for (int y = 0; y < Model.Colors.GetLength(1); y++)
    {
        <tr>
            @for (int x = 0; x < Model.Colors.GetLength(0); x++)
            {
                var color = Model.Colors[x, y];
                <td class="@(new Position(x, y).Equals(Model.LastMove) ? "last-move" : "")">
                    @if (color.HasValue)
                    {
                        @(color.Value == GamePlayer.FirstPlayer ? "X" : "O")
                    }
                    else if (Model.State == GameState.YourTurn)
                    {
                        <a href="@Url.Action("Select", new{ Model.Id, x, y})"></a>
                    }
                </td>
            }
        </tr>
    }
</table>