@import "variables.less";
@import "colors.less";

@hover-color: @red;
@selected-color: @blue;

.stroke(@color)
{ 
    text-shadow:
        -1px -1px 0 @color,
        1px -1px 0 @color,
        -1px 1px 0 @color,
        1px 1px 0 @color; 
}

@font-face {
  font-family: 'Chess';
  src: url('/content/fonts/CASEFONT.TTF');
}

.piece {
    font-family: Chess;

    &.attacked {
        text-shadow: 0px 0px 5px @red;
    }

}

.piece-pawn:after {
    .piece;
    content: 'o';
}

.piece-knight:after {
    .piece;
    content: 'm';
}

.piece-bishop:after {
    .piece;
    content: 'v';
}

.piece-rook:after {
    .piece;
    content: 't';
}

.piece-queen:after {
    .piece;
    content: 'w';
}

.piece-king {
    &:after {
        .piece;
        content: 'l';
    }
}

.piece-color-secondplayer {
    color: black;
    //text-shadow: 1px 0px 0px white 0px 1px 0px white;
    .stroke(lighten(gray, 10%));
}
.piece-color-firstplayer {
    color: white;
    .stroke(darken(gray, 10%));
}

.chess-table-base(@cellsize) {
    margin-bottom: 20px;

    td:not(.position-id) {
        width: @cellsize;
        height: @cellsize;
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
        font-size: 0px;

        .piece {
            font-size: @cellsize / 1.5;

            &.selectable {
                cursor: pointer;

                &:hover {
                    .stroke(@hover-color);
                }

                &.selected {
                    .stroke(@selected-color);
                }
            }
        }

        &.cell-white {
            background-color: lightgrey;
        }

        &.cell-black {
            background-color: darkgrey;
        }

        &.available-target {
            background: lightblue;
            cursor: pointer;
        }

        &.selected-target {
            background: lightgreen;
        }
    }

    .position-id{
        text-align: center;
        padding-left: 5px;
    }
}

.chess-table
{
    .chess-table-base(35px);
}

@media (min-width: @screen-sm-min) { 
    .chess-table
    {
        .chess-table-base(70px);
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
}

.current-progress{
    margin-top: 10px;
    .progress
    {
        display: inline-block;
        width: 50%;

        &:first-child
        {
            border-radius: 4px 0px 0px 4px;
        }
        &:last-child
        {
            border-radius: 0px 4px 4px 0px;
        }
    }
}