.tic-tac-toe-table {
  margin-bottom: 10px;
}
.tic-tac-toe-table td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
}
.tic-tac-toe-table td a {
  display: block;
  height: 100%;
}
