.last-move {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 2px;
        right: 2px;
        top: 2px;
        bottom: 2px;
        border: 1px dashed black;
        border-radius: 2px;
    }
}
