.last-move {
  position: relative;
}
.last-move:after {
  content: '';
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border: 1px dashed black;
  border-radius: 2px;
}
.code-use-move-button a.selected {
  border: 1px dashed black;
  background: #cdcdcd;
}
.othello-board td {
  border: 1px solid black;
  position: relative;
  background: #cdcdcd;
}
.othello-board td > * {
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}
.othello-board td a {
  border: 1px dashed black;
  border-radius: 50%;
}
.othello-board td .player-firstplayer {
  background: white;
  border-radius: 50%;
  border: 1px solid black;
}
.othello-board td .player-secondplayer {
  background: black;
  border-radius: 50%;
}
.othello-board.player-firstplayer a.selected {
  background: white;
}
.othello-board.player-secondplayer a.selected {
  background: black;
}
