.last-move {
  position: relative;
}
.last-move:after {
  content: '';
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border: 1px dashed black;
  border-radius: 2px;
}
/*.tic-tac-toe-table[data-width="3"]
{
    .tic-tac-toe-table-base(260px / 3);
}
.tic-tac-toe-table[data-width="15"]
{
    .tic-tac-toe-table-base(260px / 15);
}*/
@media (min-width: 0px) {
  .tic-tac-toe-table[data-width="3"] {
    width: 555px;
    margin-bottom: 10px;
  }
  .tic-tac-toe-table[data-width="3"] td {
    width: 190px;
    height: 190px;
    border: 1px solid black;
    font-size: 95px;
    text-align: center;
    vertical-align: middle;
  }
  .tic-tac-toe-table[data-width="3"] td a {
    display: block;
    height: 100%;
  }
  .tic-tac-toe-table[data-width="15"] {
    width: 555px;
    margin-bottom: 10px;
  }
  .tic-tac-toe-table[data-width="15"] td {
    width: 36px;
    height: 36px;
    border: 1px solid black;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
  }
  .tic-tac-toe-table[data-width="15"] td a {
    display: block;
    height: 100%;
  }
}
@font-face {
  font-family: 'Chess';
  src: url('/content/fonts/CASEFONT.TTF');
}
.piece {
  font-family: Chess;
}
.piece-pawn:after {
  font-family: Chess;
  content: 'o';
}
.piece-knight:after {
  font-family: Chess;
  content: 'm';
}
.piece-bishop:after {
  font-family: Chess;
  content: 'v';
}
.piece-rook:after {
  font-family: Chess;
  content: 't';
}
.piece-queen:after {
  font-family: Chess;
  content: 'w';
}
.piece-king:after {
  font-family: Chess;
  content: 'l';
}
.piece-color-secondplayer {
  color: black;
  text-shadow: -1px -1px 0 #9a9a9a, 1px -1px 0 #9a9a9a, -1px 1px 0 #9a9a9a, 1px 1px 0 #9a9a9a;
}
.piece-color-firstplayer {
  color: white;
  text-shadow: -1px -1px 0 #676767, 1px -1px 0 #676767, -1px 1px 0 #676767, 1px 1px 0 #676767;
}
.chess-table {
  margin-bottom: 20px;
}
.chess-table td {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 0px;
}
.chess-table td .piece {
  font-size: 23.333333333333332px;
}
.chess-table td .piece.selectable {
  cursor: pointer;
}
.chess-table td .piece.selectable:hover {
  text-shadow: -1px -1px 0 #790000, 1px -1px 0 #790000, -1px 1px 0 #790000, 1px 1px 0 #790000;
}
.chess-table td .piece.selectable.selected {
  text-shadow: -1px -1px 0 #00016a, 1px -1px 0 #00016a, -1px 1px 0 #00016a, 1px 1px 0 #00016a;
}
.chess-table td .piece.attacked {
  text-shadow: 0px 0px 5px #790000;
}
.chess-table td.cell-white {
  background-color: lightgrey;
}
.chess-table td.cell-black {
  background-color: darkgrey;
}
.chess-table td.available-target {
  background: lightblue;
  cursor: pointer;
}
.chess-table td.selected-target {
  background: lightgreen;
}
@media (min-width: 768px) {
  .chess-table {
    margin-bottom: 20px;
  }
  .chess-table td {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 0px;
  }
  .chess-table td .piece {
    font-size: 46.666666666666664px;
  }
  .chess-table td .piece.selectable {
    cursor: pointer;
  }
  .chess-table td .piece.selectable:hover {
    text-shadow: -1px -1px 0 #790000, 1px -1px 0 #790000, -1px 1px 0 #790000, 1px 1px 0 #790000;
  }
  .chess-table td .piece.selectable.selected {
    text-shadow: -1px -1px 0 #00016a, 1px -1px 0 #00016a, -1px 1px 0 #00016a, 1px 1px 0 #00016a;
  }
  .chess-table td .piece.attacked {
    text-shadow: 0px 0px 5px #790000;
  }
  .chess-table td.cell-white {
    background-color: lightgrey;
  }
  .chess-table td.cell-black {
    background-color: darkgrey;
  }
  .chess-table td.available-target {
    background: lightblue;
    cursor: pointer;
  }
  .chess-table td.selected-target {
    background: lightgreen;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}
.othello-board td {
  border: 1px solid black;
  position: relative;
  background: #a2a2a2;
}
.othello-board td > * {
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}
.othello-board td a {
  border: 1px dashed black;
  border-radius: 50%;
}
.othello-board td .player-firstplayer {
  background: white;
  border-radius: 50%;
  border: 1px solid black;
}
.othello-board td .player-secondplayer {
  background: black;
  border-radius: 50%;
}
.othello-board td {
  width: 40px;
  height: 40px;
}
@media (min-width: 768px) {
  .othello-board td {
    width: 60px;
    height: 60px;
  }
}
.game-list a {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}
.game-list b {
  margin-right: 10px;
  float: left;
}
.game-list .last-played {
  font-size: smaller;
  font-style: italic;
  text-align: right;
}
.game-list .icon-game {
  display: inline-block;
  width: 31px;
  height: 31px;
  text-align: center;
}
.game-list .icon-game-chess {
  display: inline-block;
  width: 31px;
  height: 31px;
  text-align: center;
  font-size: 30px;
}
.game-list .icon-game-chess:after {
  font-family: Chess;
  content: 'l';
}
.game-list .icon-game-tictactoe {
  display: inline-block;
  width: 31px;
  height: 31px;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  margin-top: 10px;
  font-size: 9px;
}
.game-list .icon-game-tictactoe:after {
  content: 'XXX';
}
.game-list .icon-game-crisscross {
  display: inline-block;
  width: 31px;
  height: 31px;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  margin-top: 10px;
  font-size: 9px;
}
.game-list .icon-game-crisscross:after {
  content: 'XXXXX';
}
.game-list .icon-game-othello {
  display: inline-block;
  width: 31px;
  height: 31px;
  text-align: center;
  font-size: 30px;
  background: white;
  border-radius: 50%;
}
.jumbotron .glyphicon {
  float: left;
  margin-right: 30px;
  font-size: 63px;
  margin-bottom: 100px;
  margin-top: 20px;
}
.friend-list span {
  display: none;
}
