@tttsize: 100px;

.tic-tac-toe-table {
    margin-bottom: 10px;
    td{
        width: @tttsize;
        height: @tttsize;
        border: 1px solid black;
        font-size: @tttsize / 2;
        text-align: center;
        vertical-align: middle;

        a{
            display: block;
            height: 100%;
        }
    }
}
