.tic-tac-toe-table {
  margin-bottom: 10px;
}
.tic-tac-toe-table td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}
.tic-tac-toe-table td a {
  display: block;
  height: 100%;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
